<h1><%= yield %></h1>
<hr />
<div class="message-list" data-channel="<%= dialogue.to_s %>">
  <ul>
    <% dialogue.messages.each do |message| %>
      <li>
        <span class="sent-by"><%= message.sent_by %>: </span>
        <span class="content"><%= message.content %></span>
      </li>
    <% end %>
  </ul>
</div>
<hr />
<div class="message-composer">
  Messages: <br />
  <textarea id="message" rows="3"></textarea> <br />
  <button id="btnSend">Send</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $messageList = document.getElementsByClassName('message-list')[0];
    const $ul = $messageList.getElementsByTagName('ul')[0];

    // subscribe to chatroom
    App.subscribe($messageList.dataset.channel, function(data) {
      const { sent_by, content } = data;
      const $li = document.createElement('li');

      $li.innerText = `${sent_by}: ${content}`;
      $ul.append($li);
    });

    // bind and handle btnSend.click event
    const $btnSend = document.getElementById('btnSend');
    $btnSend.onclick = function() {
      const $message = document.getElementById('message');
      const dialogueType = $messageList.dataset.channel.split('-')[0];

      App.chat.send_message(dialogueType, { message: { content: $message.value } });
      $message.value = '';
    }
  });
</script>
